
.AnR6jGB2ksyqMuaIhnVQA h1,p {
    text-align: center;
}
._3mjPpXvYWXJPMu0OcbJa_k h1 {
    text-align: center;
}
._3Mpg_A_lhm7HU1NTEhNg1x{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
._3Mpg_A_lhm7HU1NTEhNg1x input{
  background-color: rgba(17, 17, 16, 0.781);
  border-color: rgb(204, 204, 204);
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 250%;
  gap: normal;
  padding: 1.5px 2px 1px;
  text-align: center;
  outline: none;
}
._1WrH8ZW1xh4xIE4hw1GPXX{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    margin-top: 20px;
}

.z6v5d28LKmzjxrccTWZX5{
    border-bottom: solid 1px black  ;
    list-style-type: none;
    padding: 5px 20px;
    text-align: center;
}
.OHVq2H6PXA2XRnOuNEBIH{
    margin: 0;
    padding: 0;
    min-width: 250px;
}

._1p27Obr6xJ1XpwP1Ahlse4{
    margin: auto;
}
._1mkQeFl-dH16numHAJj2mM{
    padding: 10px;
    margin: 10px;
}
._3tz-HDkZ37QtzKfvG6bUCB{
    text-align: center  ;
    margin-bottom: 10px;
}

._3ZLaqLW99UoMOysZ6LtBx3{
    width: 60%;
    display: flex;
    flex-direction: column;

}
@media screen and (max-width: 400px) {
    input{
        width: 100%;
        font-size: 200%;
    }
    ._3ZLaqLW99UoMOysZ6LtBx3{
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    input{
        width: 100%;
        font-size: 200%;
    }
    ._3ZLaqLW99UoMOysZ6LtBx3{
        width: 100%;
    }
}
.HmOXDXUtYkqwZQtwltz0x{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.p10ZLJbpogqJkWyuSk2Zr{
    padding: 0 5px;
    margin: 8px;
    color: white;
}

._3KwXmO_yKNXpfwO6M9qXoc{
    min-height: 100px;
    margin: 20px auto;
    width: 40%;
}
._2QGlyBrpWT_ZBtrtD_bqvs{
    max-height: 100%;
    margin: 0;
    padding: 0;
    color: #32c425e5;
    text-align: center;
    font-size: 200%;
    box-sizing: border-box;
}
@media screen and (max-width: 400px) {
    ._3KwXmO_yKNXpfwO6M9qXoc{
        width: 100%;
        height: auto;
    }
    ._2QGlyBrpWT_ZBtrtD_bqvs{
        font-size: 150%;
    }
}
@media screen and (max-width: 800px) {
    ._3KwXmO_yKNXpfwO6M9qXoc{
        width: 100%;
        height: auto;
    }
    ._2QGlyBrpWT_ZBtrtD_bqvs{
        font-size: 150%;
    }
}
._3pGeHxxi-Tei4dH7kAOk7A {
  border-bottom: solid 1px black;
  list-style-type: none;
  padding: 5px 20px;
  text-align: center;
}
._39SP1cGX6U_tKH2VNmP-x0 {
  margin: 0;
  padding: 0;
  min-width: 250px;
}


._1BLuvWnzTSHl1gPNn_gLtD{
    display: flex;
    flex-direction: column;
    align-items: center;
}
._3rsAMlF-mB8RhEYQ1Of0DQ {
    display: flex;
  }
._22HVRJjbrKWU7Aahbd96tV {
  display: flex;
  flex-direction: column;
}

._2RZ48M40GnxJhD84SHRI {
  display: flex;
  flex-direction: column;
}   
._1B6o6JUSA_xcoDQPsQJ1Ma{
padding: 8px;
margin: 0 18px;

    color: black;
}
._1B6o6JUSA_xcoDQPsQJ1Ma::before{
    content: "";
    display: inline-block;
    margin-right: 6px;
    width: 10px;
    height: 10px;
    background-color: black;
}
a{
    display: inline;
}
@media screen and (max-width: 750px) {
    ._3rsAMlF-mB8RhEYQ1Of0DQ{
        flex-direction: column;
        width: 100%;
        align-items: center;
        font-size: 150%;
    }
}


._2jrOWkog-FZb8-CtXaJrej{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, serif;
}
.lXpEYJPD2oDUIvcSyX6xh{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
  

._3qE8CVJXf4gwEvoRwlOxys{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, serif;
}
._2o89u6-j1Nl-WKnDVgu0GU{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
  
